{% extends 'base.html.twig' %}
{% block title %}This is specific page title!
{% endblock %}

{% block content %}

	<div class="header">
		<h2>My To Do List</h2>
		<form method="POST" action="{{path('create-task')}}">
			<input name="title" type="text" id="myInput" placeholder="Task title..."/>
			<button type="submit" class="addBtn">Add a task</button>
		</form>
	</div>

	<ul>
		{% for task in tasks %}
			<li {% if task.status %}class="checked"{% endif %}>
				<a href="{{path('switch-status',{'id':task.id})}}">
					<span class="task-list-item">{{ task.title }}</span>
				</a>
				<a onclick="return confirm('Are you sure to delete?')" href="{{path('delete',{'id':task.id})}}">
					<span class="close">X</span>
				</a>
			</li>
		{% endfor %}

	</ul>

{% endblock %}
